@font-face {
    font-family:"Minecraft";
    src:local("Minecraft");
    src:url('fonts/Minecraft.ttf') format("truetype");
}

@font-face {
    font-family:"Minecraft Ten";
    src:local("Minecraft Ten");
    src:url('fonts/MinecraftTen.ttf') format("truetype");
}

h1, h2 {
    color:white;
    font-family:"Minecraft Ten";
    text-align: center;
    font-size: 200%;
    overflow: hidden;
    letter-spacing: 0.4px;
}

p {
    color:white;
    font-family:"Minecraft";
    text-align: center;
    overflow: hidden;
    text-shadow: 2px 2px #404040;
    letter-spacing: 0.4px;
}

body {
    background-image:url('img/polished_blackstone_bricks2x.png');
}

#header_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border-radius: 11px;
}

@media only screen and (max-width:900px) {
    .centerimg {
        max-width: 90%;
    }
}

/*@media only screen and (max-width:1900px) {
    #backtotop {
        width: 16%;
        height: 2%;
    }
}*/

.ytembed {
    height: 0;
	padding-top: 52px;
	padding-bottom: 50%;
    padding-left: 15%;
	position: relative;
}
.ytembed iframe {
	width: 70%;
	height: 84%;
	position: absolute;
    border-radius: 10px;
}

.row {
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
  }
  
.column {
    flex: 50%;
    padding: 5px;
  }

.typebox {
    border: 4px solid rgb(0, 0, 102);
    background-color: rgba(0, 81, 255, 0.4);
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

.triviabox {
    border: 4px solid rgb(92, 34, 0);
    background-color: rgba(255, 131, 29, 0.4);
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

.downloadbutton1 {
    border: 4px solid rgb(92, 0, 0);
    background-color: rgba(248, 66, 66, 0.4);
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.downloadbutton1:hover {
    background-color: rgba(238, 34, 34, 0.6);
}

.downloadbutton1JE {
    border: 4px solid rgb(82, 76, 0);
    background-color: rgba(248, 230, 66, 0.4);
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.downloadbutton1JE:hover {
    background-color: rgba(238, 224, 34, 0.6);
}

.downloadbutton2 {
    border: 4px solid rgb(0, 36, 3);
    background-color: rgba(73, 216, 73, 0.4);
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.downloadbutton2:hover {
    background-color: rgba(15, 196, 24, 0.6);
}

.downloadbutton3 {
    border: 4px solid rgb(53, 0, 33);
    background-color: rgba(204, 73, 216, 0.4);
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.downloadbutton3:hover {
    background-color: rgba(196, 15, 196, 0.6);
}

.downloadbutton4 {
    border: 4px solid rgb(1, 43, 41);
    background-color: rgba(73, 216, 216, 0.4);
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.downloadbutton4:hover {
    background-color: rgba(15, 196, 181, 0.6);
}

#borderradiusimg {
    border-radius: 8px;
}

.toc {
    border: 4px solid rgb(36, 2, 65);
    background-color: rgba(92, 21, 114, 0.4);
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

a:link {
    color: rgb(86, 182, 211);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(184, 183, 174);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(241, 149, 149);
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

#backtotop {
    /*padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;*/
    margin-left: 10%;
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

/* @media only screen and (max-width: 900px) {
    .column {
      width: 60%;
    }
  } */