@font-face {
    font-family:"Minecraft";
    src:local("Minecraft");
    src:url('fonts/Minecraft.ttf') format("truetype");
}

@font-face {
    font-family:"Minecrafter";
    src:local("Minecrafter");
    src:url('fonts/Minecrafter.ttf') format("truetype");
}

h1, h2 {
    color:white;
    font-family:"Minecrafter";
    text-align: center;
    font-size: 200%;
}

p {
    color:white;
    font-family:"Minecraft";
}

body {
    background-image:url('img/polished_blackstone_bricks2x.png');
}

#header_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* #header_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    }

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    }